<footer class="mt-auto text-white-50 pt-5">
    <p>Cover Template From <a href="https://myaccount.google.com/personal-info" class="text-white">RamxPaul</a>, Made by <a href="https://twitter.com/RamyNassemZaky" class="text-white">@Ramy</a>.</p>
  </footer>